@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* My Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
input,
textarea,
button {
  box-shadow: none;
  outline: 0;
  border: 0;
}
a {
  text-decoration: none;
}

/*  */

html {
  font-size: 16px;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  color: var(--text-light);
  font-size: 1em;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
  height: 100%;
}

.padding {
  padding: 5em 0;
}

.padding-side {
  padding-left: 2em;
  padding-right: 2em;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.item-start {
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Columns */
.flex-15 {
  flex: 0 1 15%;
}
.flex-20 {
  flex: 0 1 20%;
}

.flex-24 {
  flex: 0 1 22%;
}

.flex-25 {
  flex: 0 1 25%;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-33 {
  flex: 0 1 33%;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-45 {
  flex: 0 1 45%;
}

.flex-48 {
  flex: 0 1 48%;
}

.flex-50 {
  flex: 0 1 50%;
}

.flex-48 {
  flex: 0 1 48%;
}
.flex-60 {
  flex: 0 1 60%;
}

.grow {
  flex: 1 1 auto;
}

/* Full width */
.width-full {
  width: 100%;
}

/* Center Elements */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Heading */
.heading {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--text-dark);
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.heading-secondary {
  font-size: 1em;
  color: var(--text-light);
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Colors */
.color-red {
  color: var(--theme-red);
}

/* section */

.section-head {
  text-align: center;
}

.section-head .title {
  padding-bottom: 1.1em;
  font-size: 1.5em;
  font-weight: 700;
}

.section-head .description {
  font-size: 0.9em;
  font-weight: 600;
  padding-bottom: 2em;
}

.light-red-bg {
  border-radius: 1em;
  background-color: rgb(224, 193, 184);
  font-weight: 600;
}

img {
  width: 100%;
}

.btn {
  color: white;
  background-color: var(--theme-red);
  padding: 0.5em 2em;
  flex-grow: 0;
}

.strike {
  text-decoration: line-through;
  color: rgb(207, 198, 198);
}

.money {
  font-size: 2em;
}

sup {
  font-size: 0.4em;
  vertical-align: super;
}

.fade {
  color: rgb(207, 198, 198);
}

@media screen and (max-width: 768px) {
  .flex-48 {
    width: 100%;
  }
}
