/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Css Goes Here */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
    background-color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

nav {
    background-color: #06144C;
    text-transform: uppercase;
    text-align: center;
    padding: 1.75em;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5em;
}

li {
    display: inline;
    padding: 1.75em;
}

h1 {
    font-size: 40px;
    padding: 80px 0px;
    font-weight: bold;
}

.section-1 {
    width: 1000px;
    margin: auto;
}

.section-1 p, .section-2 p {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
}

.box {
    display: block;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    background-color: #99D9CB;
    border: 20px solid #5973E3;
    outline: 5px solid black;
    box-shadow: 0 0 0 30px #91FEA9 ;
    border-radius: 10px;
}

.circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
}

.section-1 li {
    
    font-weight: bold;
    font-size: 15px;
}

.section-1 .list {
    padding: 20px;
}

hr {
    height:1px;
    width:80%;
    border: none;
    border-top: 2px dotted black;
    margin: 20px auto;
  }

.big-container {
    width: 680px;
    height: 200px;
    margin: 0px auto;
    display: inline-block;
    border: 2px solid black;
}

  .smaill-container-a {
    width: 200px;
    height: 180px;
    display: inline-block;
    margin: 10px;
    background-color: #DAE1FB;
  }

  .smaill-container-aa {
    width: 200px;
    height: 180px;
    display: inline-block;
    margin: 10px;
    background-color: #DAE1FB;
    border: 1px solid black;
  }


.blog section {
    margin: 10px auto;
    width: 1000px;
}



.blog section {
    margin: 10px;
    display: inline-block;
    height: auto; 
}

.blog div {
    display: inline-block;
    width: 480px;
}

.blog img {
    width: 100%;
    height: 100%;
}

.blog section div {
    vertical-align: top;
}

.blog div {
    text-align: left;
}
.blog p {
    padding: 10px 0px;
}

.blog .generic-button {
    color: green;
}
.box-button {
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: greenyellow;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    line-height: 30px;
    color: white;
}


.blog h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;
}